@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav {
  background: #2196f3;
  display: flex;
  margin-bottom: 20px;
}

.nav .nav-item {
  padding: 20px 30px;
  margin: 3px;
  color: white;
  word-wrap: break-word;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.25px;
}
.nav .nav-item:first-child {
  margin-left: 50px;
}

.nav .nav-item:hover, .nav-item-active{
  background: #1e88e5;
}

.list-cats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.cat-image > img {
  width: 300px;
  height: 300px;
}

.cat-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-add-cat {
  padding: 20px 60px;
  background-color: #2196f3;
  border: unset;
  margin-top: 20px;
  color: white;
  font-weight: normal;
  font-size: 24px;
  cursor: pointer;
  transition: all ease-in .25s;
}

.btn-add-cat:hover{
  transform: scale(1.01);
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.315);
}

.icons {
  position: absolute;
  bottom: 20px;
  right: 20px; 
}

.icons > svg {
  display: none;
  position: absolute;
  top:-50px;
  left: -50px;
}
.icons .fav {
  display: block;
  z-index: 99; 
}

.cat-image:hover .outline-heart {
  display: block;
}

.icons:hover .fill-heart {
  display: block;
  animation: pulse .8s infinite;
}
.icons:hover .outline-heart {
  display: block;
  animation: pulse .7s infinite;
}

.cat-image:hover {
  box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.315);
  transform: scale(1.1);
  transition: all ease .4s;
}

.icons {
 cursor: pointer;
}

.spinner {
  height: 50px;
  width: 50px;
  margin: 20px auto;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}

@media screen and (max-width: 470px){
  .nav .nav-item {
    line-height: unset;
    letter-spacing: unset;
    font-size: 14px;
  }
  .nav .nav-item:first-child {
    margin-left: unset;
  }
}

 
@keyframes pulse {
	0% {
		transform: scale3d(1.1, 1.1, 1.1);
	}
	50% {
		transform: scale3d(0.95, 0.95, 0.95);
	}
	100% {
		transform: scale3d(1.1, 1.1, 1.1);
	}
}